@charset "UTF-8";


:root {
  /* AMARELOS */
  --cor1: #FCD15C;
  --cor2: #F2B705;
  
  /* VERDES */
  --cor3: #BECD39;
  --cor4: #659326;
  --cor5: #3C6308;
}

body {
  background-color: rgb(43, 43, 43);
  height: 100vh;
}

#container {
  display: flex;
}

header {
  width: 50%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  
}

#mobile {
  display: none;
}

header>nav {
  display: flex;
  height: 40px;
}

header>nav>button {
  color: #fff;
  background-color: red;
  padding: 3px;
  width: 40px;
  display: block;
}

header>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

#imagens {
  width: 50vw;
  height: 100vh;
}


@media (max-width: 850px) {
  #container {
    display: flex;
    flex-direction: column;
  }
  
  header {
    height: 100vh;
    width: 100vw;
    transition: 0.5s;
  }
  
  #mobile {
    display: flex;
  }
  
  header nav#desktop {
    display: none;
  }
  
  #imagens {
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
  }
}